* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4B2EF5, #8E2DE2);
}

.auth-container {
    width: 350px;
}

.auth-card {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

form {
    display: none;
    flex-direction: column;
    animation: fade 0.4s ease;
}

form.active {
    display: flex;
}

@keyframes fade {
    from { opacity: 0; transform: scale(0.97); }
    to { opacity: 1; transform: scale(1); }
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.18);
    color: #fff;
}

.input-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #ddd;
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #fff;
}

.btn {
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #00D4FF;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.toggle-text {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.toggle-text span {
    color: #00D4FF;
    cursor: pointer;
}

.social-login {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.google-btn {
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.facebook-btn {
    background: #1877F2;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}